.padding-lr--medium {
  padding: 0 30px
}

.padding-lr--small {
  padding: 0 5px
}

.font-size--medium {
  font-size: 4em
}


.standard-flexbox {
  display: flex;
  justify-content: center;
}

.max-w-padding-lr {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}